*{
  font-family: Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.board h1{
  font-size: 50px;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.board-row{
  display: flex;
  justify-content: center;
}

.logo {
  margin: 8px;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.covered-logo{
  display: inline-block;
  background-color:rgb(169, 128, 208);
  margin: 8px;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px;
}

.count-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(169, 128, 208);
}

.shuffle-button {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 40px;
  border-radius: 30px;
}